# Node modules
node_modules/

# Ignore legacy nested project folder
foodRecipe/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.mongodb-log/

# Env files
.env
*.env

# Build output
dist/
build/
.mongodb-data/

# VS Code
.vscode/

# Mac
.DS_Store

# OS
Thumbs.db
